html * {
   font-family: Lato;
}

.jumbotron {
	overflow: auto;
	background-image: linear-gradient(#5ACEB5, #33AB91);
	background-color: #5ACEB5;
	color: white;
}

#profile-pic {
	width: 250px;
	border: solid white 8px;
	border-radius: 50%;
}

#bio {
	margin: auto;
	max-width: 800px;
}

.icon-container {
	margin: 20px auto;
}

.icon-container img:hover {
	transform: scale(1.1, 1.1);
}

.icon {
	margin: 7px;
	max-width: 50px;
}